.navbar {
    background-color:#FFC90D;
    height: 75px;
    padding: 12px;
    text-decoration: none;
    color: white;
}

a {
    color: ivory;
   font-size: x-large;
    font-family: 'Bangers', cursive;
}
.button {
    background-color: lightskyblue;
}

#shoppingcartBtn{
    font-size:24px; 
    background-color: lightskyblue; 
    border: 15px; 
    padding: 10px; 
    color: white; 
    font-family: 'Bangers', cursive;
}
/* 
.container{
    margin: 0;
} */

img{
    width: 100%;
}
.carousel{
    margin-top: 4%;
}
.Ad {
    margin: 2% 0 5%;
    position: sticky;
    /* height: 50vh; */
}

.hide{
    display: none;
}

.hideProduct{
    display: none;
    
}

.hidePS4{
    display: none;
}

.hideSwitch{
    display: none;
}

.hideXbox{
    display: none;
}